<div class="text-center">
</span>{{albumId}}</span>
&nbsp
<span>{{ 'ALBUM' | translate }}</span>
<hr>
</div>

<div class="text-center" ng-if="!photosFromAlbum">Loading...</div>

<div ng-repeat="x in photosFromAlbum" class="col-md-4 col-sm-6 col-xs-12 imgBlock">
	<div>
		<a ng-href="/#/image?id={{x.id}}"><img src="{{x.thumbnailUrl}}"></a>
		<div>{{x.title}}</div>
	</div>
	
	<a ng-href="/#/album?albumId={{x.albumId}}" title="Album{{x.albumId}}"><i class="glyphicon glyphicon-folder-open"></i></a>
<div>
