@import "variables";
@import "imports";

body {
  text-align: center;
  color: #222;
  background-color: #3366CC;
}

.welcome {
  width: 300px;
  height: 510px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -255px;
}

a, a:visited {
  text-decoration: none;
}

.container{
	max-width: 960px;
}

.largeImg{
	margin-bottom: 60px;
}

.imgBlock{
	height: 210px;
}
